<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--
  TODO: Create a custom configuration file, and we will have control of how we setup our config data  
  -->
  <appSettings>
    <add key="MedianPercentage" value="20"/>
    <add key="SupportedTypes" value="LP, TOU"/>
    <add key="DirectoryPath" value="D:\Learning\My Projects\ERMPower\Sample files"/>
  </appSettings>
</configuration>